 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-1 .u-group-1 {
  width: 790px;
  min-height: 862px;
  background-image: none;
  height: auto;
  margin: 103px auto 59px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 38px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  font-size: 1.375rem;
  width: 508px;
  margin: 35px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1333px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 694px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 134px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 95px auto 60px 20px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 23.25px));
  min-height: 222px;
  grid-gap: 31px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 36px auto 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 13px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 36px auto 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 13px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 36px auto 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 13px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 36px auto 0;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 83px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 101px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 183px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 493px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -309px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.5px));
    min-height: 626px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 824px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -627px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: -613px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 3137px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 113px 10px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 640px;
  margin: 77px auto 0;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 1156px;
  width: 1120px;
  margin: 38px 10px 0;
}

.u-section-3 .u-custom-html-2 {
  width: 2810px;
  margin: 133px -835px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 640px;
  margin: 67px auto 0;
}

.u-section-3 .u-custom-html-3 {
  height: auto;
  min-height: 1156px;
  width: 1087px;
  margin: 26px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 0;
    width: 940px;
  }

  .u-section-3 .u-custom-html-3 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-3 .u-custom-html-2 {
    width: 720px;
  }

  .u-section-3 .u-custom-html-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-3 .u-custom-html-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }

  .u-section-3 .u-custom-html-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-3 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-3 .u-custom-html-3 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 884px;
}

.u-section-4 .u-text-1 {
  margin: 59px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 997px;
  margin: 68px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 544px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  padding: 30px;
}

.u-section-4 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px 15px 0;
}

.u-section-4 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 6px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 6px 0 36px;
}

.u-section-4 .u-text-3 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-4 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 6px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 6px 0 36px;
}

.u-section-4 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px 15px 0;
}

.u-section-4 .u-icon-3 {
  height: 22px;
  width: 22px;
  margin: 6px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 6px 0 36px;
}

.u-section-4 .u-text-7 {
  margin: 20px 1px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 544px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 30px;
}

.u-section-4 .u-form-1 {
  height: 388px;
  width: 439px;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 513px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 17px;
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 513px;
  }

  .u-section-4 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-form-1 {
    height: 374px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-4 .u-layout-cell-2 {
    order: 0;
    min-height: 501px;
  }

  .u-section-4 .u-form-1 {
    height: 441px;
    width: 480px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-form-1 {
    width: 320px;
  }
}

.u-section-4 .u-layout-cell-2,
.u-section-4 .u-layout-cell-2:before,
.u-section-4 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-4 .u-layout-cell-2 {
  border-color: transparent !important;
}

.u-section-4 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-4 .u-layout-cell-2 {
  border-color: transparent !important;
}

.u-section-4 .u-container-layout:hover .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-1,
.u-section-4 .u-layout-cell-1:before,
.u-section-4 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-4 .u-layout-cell-1 {
  border-color: transparent !important;
}

.u-section-4 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  border-radius: 10px !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-4 .u-layout-cell-1 {
  border-color: transparent !important;
}

.u-section-4 .u-container-layout:hover .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}